body {
    background-color: rgb(243, 243, 182);
}

.content {
    max-width: 900px;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: Red;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

p {
    text-align: center;
    font-size: 30px;
}

img {
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
}